@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("../node_modules/reset-css/sass/_reset.scss");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background-color: #fff;
  font-size: 10px;
  line-height: 1;
  /*remove gray highlight when tapping links in mobile*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*for some Androids*/
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  color: #7a7a7a;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.375;
}

img {
  max-width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #000;
}

.h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 3.8rem;
  letter-spacing: -1.27273px;
}

@media screen and (min-width: 769px) {
  .h1 {
    font-size: 3rem;
  }
}

.h2 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3.4rem;
  letter-spacing: -0.5px;
}

.section_hero {
  display: flex;
  height: 80rem;
  position: relative;
}

@media screen and (min-width: 769px) {
  .section_hero {
    height: 77rem;
  }
}

.section_hero .section_hero_info {
  background-color: #e3f5f2;
  box-sizing: border-box;
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 769px) {
  .section_hero .section_hero_info {
    align-items: center;
    display: flex;
    padding: 0;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1441px) {
  .section_hero .section_hero_info {
    padding-left: 7.5rem;
    width: 50%;
  }
}

.section_hero .section_hero_info .section_hero_text {
  margin-bottom: 4rem;
}

@media screen and (min-width: 769px) {
  .section_hero .section_hero_info .section_hero_text {
    width: 60%;
  }
}

@media screen and (min-width: 1441px) {
  .section_hero .section_hero_info .section_hero_text {
    width: 48%;
  }
}

.section_hero .section_hero_info .section_hero_text .h1 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 769px) {
  .section_hero .section_hero_info .section_hero_text .h1 {
    margin-bottom: 2.9rem;
  }
}

.section_hero .section_hero_info .section_hero_label {
  color: #999;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 1.08333px;
  margin-bottom: .7rem;
  text-transform: uppercase;
}

.section_hero .section_hero_info .section_hero_description {
  line-height: 2.8rem;
}

.section_hero .section_hero_form {
  background-color: rgba(28, 28, 28, 0.9);
  box-sizing: border-box;
  bottom: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  left: 1.5rem;
  padding: 4rem 2.2rem 3.5rem;
  position: absolute;
  right: 1.5rem;
}

@media screen and (min-width: 769px) {
  .section_hero .section_hero_form {
    bottom: auto;
    left: auto;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 34.3rem;
  }
}

@media screen and (min-width: 1441px) {
  .section_hero .section_hero_form {
    left: 50%;
    padding: 7.8rem 5.3rem 7.1rem;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 41.1rem;
  }
}

.section_hero .section_hero_form .hero_form_input {
  border: 0;
  border-radius: .4rem;
  color: #1c1c1c;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  padding: 1.3rem 3rem 1.1rem;
}

.section_hero .section_hero_form .hero_form_btn {
  border: 0;
  background-color: #0ad9c6;
  border-radius: .6rem;
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4.8rem;
  margin-bottom: 1.5rem;
}

.section_hero .section_hero_form .hero_form_description {
  font-size: 1.3rem;
  line-height: 2.3rem;
  padding-left: 1rem;
  position: relative;
}

.section_hero .section_hero_form .hero_form_description:before {
  content: '*';
  display: inline-block;
  left: 0;
  position: absolute;
}

.section_hero .section_hero_bg {
  background: no-repeat center url("../img/bg_cakes.png");
  background-size: cover;
  flex-grow: 1;
  min-width: 6rem;
}

@media screen and (min-width: 769px) {
  .section_hero .section_hero_bg {
    background-image: url("../img/bg_cakes@2x.png");
    width: 20.7rem;
  }
}

@media screen and (min-width: 1441px) {
  .section_hero .section_hero_bg {
    width: 50%;
    width: 41.1rem;
  }
}

.section-articles {
  padding: 4rem 1.5rem;
}

@media screen and (min-width: 769px) {
  .section-articles {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 1441px) {
  .section-articles {
    padding: 7rem 7.5rem;
  }
}

.section-articles .article:not(:last-child) {
  margin-bottom: 4rem;
}

@media screen and (min-width: 769px) {
  .section-articles .article {
    align-items: center;
    display: flex;
  }
}

.section-articles .article .h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .section-articles .article .h2 {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1441px) {
  .section-articles .article:last-child {
    flex-direction: row-reverse;
  }
  .section-articles .article:last-child .article-picture {
    padding-left: 0;
    padding-right: 11.3rem;
  }
  .section-articles .article:last-child .article-text {
    padding-left: 11.3rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 769px) {
  .section-articles .article-picture,
  .section-articles .article-text {
    width: 50%;
  }
}

@media screen and (min-width: 1441px) {
  .section-articles .article-picture {
    padding-left: 11.3rem;
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .section-articles .article-text {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1441px) {
  .section-articles .article-text {
    padding-right: 11.3rem;
    width: 40%;
  }
}

.section-articles .article-img {
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .section-articles .article-img {
    height: 350px;
    margin-bottom: 0;
  }
}

.section-articles .article-description {
  line-height: 2.8rem;
}
