// Main colors
// -------------------------
$white: #fff;
$black: #000;
$dustyGray: #999;
$blackSqueeze: #e3f5f2;

// text color
$boulder: #7a7a7a; 
// form bg color
$codGray: #1c1c1c; 
// form button color
$brightTurquoise: #0ad9c6; 

$textMainColor: $boulder;

// Fonts
// -------------------------
$fontBase: 'Open Sans', sans-serif; 
$fontSizeBase: 1.6rem; // mobile & tablets
$fontSizeBase_L: 1.8rem; // laptop & large screen
$lineHeightBase: 1.375; // mobile
$lineHeightBase_L: 1.38; // desktop

// Borders
// -------------------------
$radius: .3rem; 

// Breakpoints
// -------------------------
// mobile
$small: 480px;

// large mobile
$middle: 768px;

// tablet
$large: 1024px;

// laptop
$extraLarge: 1440px;







